.logo {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
    color: #f5be41;
}

.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5be41;
    width: 280px;
    height: 60px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 5px;
    text-decoration: none;
}

.navbar a:visited {
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    font-weight: 700;
}

@media (min-width: 1000px) {
    .wrapper-nav {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 50px;
    }

    .navbar {
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
        transform: none;
        margin-top: 20px;
        width: 400px;
    }
}
