.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc728;
    width: 280px;
    height: 70px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
