.completed {
    margin: 40px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    font-family: inherit;
    padding: 5px 10px;
    margin: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

.btn:disabled {
    opacity: 0.6;
}

.btn--skip {
    color: #cf3721;
}

.btn--good {
    color: #258039;
}
