@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.active {
    font-weight: 700;
}

.hide {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
}

/* FORM  CREATE & ADD*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ffe2a0;
    outline: none;
    font-size: 16px;
    font-family: inherit;
}
.form__input--name {
    font-size: 20px;
}

.form__input::placeholder {
    font-style: italic;
    color: #999999;
}

.form__btn {
    margin-top: 20px;
    background-color: #f5be41;
    padding: 8px 15px;
    border: none;
    border-radius: 13px;
    font-family: inherit;
    cursor: pointer;
}
